<div class="centered-content">
    <div class="conta-manager-container">
        <div class="conta-list-container has-background-light">
            <div class="columns">
                <h1 class="title has-text-primary column is-pulled-left">
                    Conta Corrente
                </h1>
                <div class="control column is-one-quarter is-pulled-right">
                    <div class="select">
                      <select (change)="onOptionSelected($event)">
                        <option>Últimos 2 dias</option>
                        <option>Últimos 30 dias</option>
                        <option>Todos</option>
                      </select>
                    </div>
                  </div>
            </div>        

            <div class="conta-container">
                <div class="conta columns is-multiline" *ngFor="let lancamentos of contas">
                    <div class="container-text">
                    <p>{{ lancamentos.descricao }} - {{ lancamentos.data | date }} - <span class="text-especial">{{enumAvulso[lancamentos.avulso]}} | </span> <span class="text-especial" [ngClass]="{'valido': lancamentos.status == 0, 'cancelado': lancamentos.status == 1}">{{enumStatus[lancamentos.status]}}</span></p>
                    <p>{{ lancamentos.valor | currency : 'BRL'}}</p>
                    </div>
                    <div class="buttons last-child">
                    <button routerLink="/edit-lanc/{{lancamentos.id}}" class="button is-warning" [disabled]="lancamentos.avulso == 0">
                        <img src="../../assets/edit.svg">
                    </button>
                    <button (click)="cancelaLancamento(lancamentos.id)"  class="button is-danger" [disabled]="lancamentos.avulso == 0">
                        <img src="../../assets/cancell.svg">
                    </button>
                    </div>
                </div>
            </div>
            <br><br><br><br>
            <button routerLink="/new-lanc" class="circle-add-button button is-primary">
                <img src="../../../assets/plus-icon.svg">
            </button>
        </div>
    </div>
</div>
